<div class="card">
  <img class="card__img" src="https://s3-alpha-sig.figma.com/img/6017/f0ec/159f0df753e599c7aea571280e859c00?Expires=1628467200&Signature=e2FvywzKMntjeoXcNn5Hr~vWCnvlZLAcTui53Oj8Xqb~rmAkP0YDZaZBGrSoCqZTNgqyl8p~ILpwYYd9YKPwIL24h5YxQHNUxmtjv95IH8vzHKPPqFyxjYmo03nW07DzDKslbUiK5q~VlOvlZd2gHAXy~Ubk90XlT7uJruxhJ2cES0tZchlHvBWtsKHh9m18-5s~jcYBA~aoVuiM0GtSUxw2ud6wju-uEg9HW2qSox2FFFn38FAqsUYX5ujsflB3X3cFOf1jxB6vjrwMrcshS1cXvxjP00aP8PsG3ZnBnfNhS2Wh5Lzg6mv~HOTDCFMUcObaLF0bP46GiwA3hQKG0A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
  <div class="card__text">
  <h3 class="">CARLITOS</h3>
  <p class="">Medidas 30 x 15cm</p>
  </div>
</div> 