<div>
    <div>
    <img src=""></img>
    <img src=""></img>
    <img src=""></img>
    </div>
    <div>
    <img src=""></img>
    </div>
    <div class="">
        <h3>Carlitos</h3>
        <p>Medidias 30x15cm</p>
        <p>Tejido a crochet en hilo peruano.Incluye anteojos y vestimenta</p>
        <ul>
            <li>Precios por mayor a partir de las 20 unidades</li>
            <li>Consulta por otras medidas</li>
            <li>Consulta por otros colores</li>
        </ul>
        <button class="btn btn-">CONSULTAR</button>
    </div>
</div>