@import url(./template/nav.css);
@import url(./template/footer.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
input:focus,input:active,textarea:focus,textarea:active{
    border: none;
    outline: none;
}


#contacto__conteiner{
    width: 100%;
    height:auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
#contacto__conteiner img{
    position: absolute;
    left: 0.2%;
    width: 50%;
}
#contacto{
    display: flex;
    width: 75%;
}
.contacto__info{
    width: 50%;
    height: 400px;
    padding: 20px 5px;
}
.contacto__info p{
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.contacto__info p i{
    color:  rgb(220, 187, 169);  
    font-size: 20px;
    margin-right: 12px;
}
.contacto__form{
    width:50%;
    height: auto;
}
#form{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.label__content, .button__content{
    margin: 5px 0px;
    width: 100%;
    height: auto;
}
.label__content label{
    display: inline-block;
    font-size: 18px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    color:  rgb(220, 187, 169);
    margin-bottom: 6px;
    margin-top: 10px;  
}
.label__content input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgb(208, 165, 141);
    padding: 0px 15px;
    font-size: 17px;
}
.label__content input:focus{
    border: 2px solid rgb(208, 165, 141);
}
.label__content textarea{
    width: 100%;
    border: 1px solid rgb(208, 165, 141);
    border-radius: 10px;
    font-size: 17px;
    padding: 10px 12px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}
.button__content{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.button__content button{
    background-color: rgb(207, 185, 148);
    width: 100px;
    height: auto;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 13px 10px;
    font-family:"lato";
    font-style: normal;
    font-weight: 400;
    color: white;
}
@media (max-width:935px){
    
}
@media (max-width:751px){
    .contacto__info{
        width: 90%;
        height: auto;
        padding: 0px 10%;
        margin: auto;
        
    }
    #contacto{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }
    .contacto__form{
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #form{
        width: 70%;
        height: 100%;
    }
    #contacto__conteiner img{
        position: absolute;
        left: 3%;
        top: -50px;
        width: 100%;
    }
}

@media (max-width:651px){
    #contacto__conteiner img{
        position: absolute;
        left:0%;
        top: 10%;
        width: 100%;
    }
    .contacto__info p{
        padding: 10px 0%;
    }
}
@media (max-width:460px){
    .contacto__info{
        width: 100%;
    }
    #contacto__conteiner img{
        position: absolute;
        left:0%;
        top: 20%;
        width: 100%;
    }
    .contacto__info p{
        padding: 10px 15px;
        font-size: 15px;
    }
    .contacto__info p i{
        font-size: 17px;
        margin-right: 8px;
    }
}