@import url(./template/nav.css);
@import url(./template/footer.css);

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.encabezado{
    width: 74%;
    font-size: 1.18em;
    margin: auto;
}
.encabezado p{
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}
.encabezado span{
    font-weight: bolder;
}

.mySwiper{
    width: 73%;
    height: 280px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conocenos{
    margin: auto;
    width: 78%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.conocenos__img{
    height: 560px;
    width:900px;
    position: relative;
}
.conocenos__img img{
    width: 70%;
    height:180px;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
    border:1px solid rgba(208, 165, 141,0.8);
    transition: all 0.3s;
}
.conocenos__img img:hover{
    transform: scale(1.08);
    z-index: 3;
}
.img__top{
    top: 7%;
    z-index: 2;
    
}
.img__med{
    top:34%;
    left: 30%;
    z-index: 1;
}
.img__bot{
    bottom: 7%;
    z-index: 2;
}
.conocenos__info{
    height: auto;
    padding-left: 30px;
    position: relative;
}
.conocenos__info p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.05em;
    margin-bottom: 25px;
    text-align: justify;
}



@media(max-width:580px){
    .encabezado{
        font-size: 1em;
    }
}
@media(max-width:1020px){
    .mySwiper{
        width: 80%;
    }
}
@media(max-width:800px){
    .mySwiper{
        width: 85%;
        height:250px;
    }
}
@media(max-width:700px){
    .mySwiper{
        width: 85%;
        height:220px;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 30px !important;
    }
}
@media(max-width:599px){
    .mySwiper{
        width: 90%;
        height:150px;
    }
}
@media(max-width:425px){
    .mySwiper{
        width: 90%;
        height:130px;
        
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 25px !important;
    }
}


@media (max-width:1020px){
    .conocenos{
        width: 85%;
    }
    .conocenos__img{
        height: 500px;
        object-fit: cover;
    }
    .conocenos__info{
        height: auto;
        padding-left: 40px;
    }
    
}
@media (max-width:925px){
    .conocenos{
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        padding:0px 30px;
        margin: 0px auto;
    }
    .conocenos__img{
        margin: auto;
        height:250px;
        width: 100%;
        margin-bottom:20px;
    }
    .conocenos__img img{
        width: 30%;
        height: 230px;
    }
    .img__top{
        left:2%;
        top: 0%;
        z-index: 2;
        
    }
    .img__med{
        top:0%;
        left: 35%;
        z-index: 1;
    }
    .img__bot{
        left: 68%;
        top: 0%;
        z-index: 2;
    }
    .conocenos__info{
        height: auto;
        padding: 0;
    }
    .conocenos__info p{
        font-size: 1.05em;
        margin-top: 20px;
        text-align: justify;
    }
}
@media (max-width:645px){
    .conocenos{
        width: 85%;
        padding:0;
    }
    .conocenos__img{
       height: 200px;
    }
    .conocenos__img img{
        width: 30%;
        height: 190px;
    }
    .conocenos__info{
        height: auto;
        padding: 0;
    }
    .conocenos__info p{
        font-size: 1.em;
        margin-top: 20px;
    }
}
@media (max-width:480px){
    .conocenos__img{
       height: 120px;
    }
    .conocenos__img img{
        width: 30%;
        height: 100%;
    }
}
@media (max-width:380px){
    .conocenos__img{
       height: 100px;
    }
    .conocenos__img img{
        width: 30%;
        height:110px;
    }
}