html{
    position: relative;
    min-height: 100%;
    padding-bottom: 190px;
}

footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 180px;
}
.redes{
    width: 100%;
    height: 60px;
    color:rgb(208, 165, 141);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

.redes__line{
    width: 25.5%;
    height: 1px;
    background:rgb(208, 165, 141);
}
.redes__icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
    height: 70px;
}
.redes__icon a{
    color: rgb(207, 185, 148);
    text-decoration: none;
    margin: 0px 25px;
    padding-bottom: 45px;
}

